body {
  wigth: 1440px;
  margin: 0 auto;
  background: white;
  height: 3252px;
  display: block;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right:0;
  background: url('images/1440.jpg');
  height: 3252px;
  display: block;
  opacity: .2;
}

html {
  position: relative;
  height: 100%;
}
section{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 60px;
}
section div {
  width: 50%;
  overflow: hidden;
}
section h1 {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 38px;
}
section p {
  font-size: 26px;
  line-height: 1.5;

}
section h1, p {
  width: 520px;
  margin: 0 auto;
}
.text {
  width: 520px;
  margin: 0 auto;
}
section div: nth-of-type(2) h1,
section div: nth-of-type(2) p {
  margin-left: 30px;
}
section div: nth-of-type(1) img {
  margin-top: 34px;
}
.one {
margin-top: 72px;
}
.two {
margin-top: 50px;
}
.bottom_block {
width: 800px;
display: block;
margin: 0 auto;

}
